@page "/admindashboard"
@attribute [Authorize(Roles = "Admin")]

@using ElevPortalen.Services;
@using ElevPortalen.Data;
@using ElevPortalen.Models;

@inject ElevPortalenDataDbContext _context
@inject StudentService _studentService
@inject CompanyService _companyService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration Configuration
@inject NavigationManager NavManager

<AuthorizeView Roles="Admin">
    <Authorized>
        <!-- Container -->
        <div class="container-fluid text-center">
            <!-- Row with 4 cards -->
            <div class="row pt-4">
                <div class="col-lg-6 col-xl-3 mb-4">
                    <div class="card bg-secondary text-white h-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="me-3">
                                    <div class="text-white-75 small">
                                        Tilmeldte Elever:
                                    </div>
                                    <div class="text-lg fw-bold">
                                        @_studentCount
                                    </div>
                                </div>
                                <i class="fa-solid fa-user-check fa-2xl"></i>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between small">
                            <div class="stretched-link" @onclick="ViewStudents">View</div>
                            <div class="" href="#"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 mb-4">
                    <div class="card bg-secondary text-white h-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="me-3">
                                    <div class="text-white-75 small">
                                        Tilmeldte Firmaer:
                                    </div>
                                    <div class="text-lg fw-bold">
                                        @_companyCount
                                    </div>
                                </div>
                                <i class="fa-solid fa-building-circle-check fa-2xl"></i>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between small">
                            <div class="text-white stretched-link">View</div>
                            <div class="text-white"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 mb-4">
                    <div class="card bg-secondary text-white h-100"> 
                        <div class="card-body text-white">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="me-3">
                                    <div class="text-white-75 small">
                                        Something
                                    </div>
                                </div>
                                <i class="fa-solid fa-square-check fa-2xl"></i>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between small">
                            <div class="text-white stretched-link">View</div>
                            <div class="text-white" href="#"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xl-3 mb-4">
                    <div class="card bg-secondary text-white h-100">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="me-3">
                                    <div class="text-white-75 small">
                                        Something
                                    </div>
                                </div>
                                <i class="fa-solid fa-comment fa-2xl"></i>
                            </div>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between small">
                            <div class="text-white stretched-link">View</div>
                            <div class="text-white" href="#"><i class="fas fa-angle-right"></i></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />



            <!--More contect after the hr tag   , it can be a list of users etc...-->
            @if (_showStudentsTable)
            {
                <div class="container-fluid text-center p-4">
                    <h2>Students</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var student in _students)
                            {
                                <tr>
                                    <td>@student.StudentId</td>
                                    <td>@student.FirstName</td>
                                    <td>@student.Email</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }



        </div>
      
    </Authorized>

    <NotAuthorized>
        <p>You have no rights to administrative page!</p>
    </NotAuthorized>

</AuthorizeView>

@code {
    int _studentCount = 0;
    int _companyCount = 0;

    protected override async Task OnInitializedAsync()
    {
        await GetCount();
    }

    public async Task GetCount()
    {
        _studentCount = await _studentService.GetStudentCountAsync();
        _companyCount = await _companyService.GetCompaniesCountAsync();

    }

    bool _showStudentsTable = false;
    List<StudentModel> _students = new List<StudentModel>();

    async Task ViewStudents()
    {
        _students = await _studentService.ReadAllStudentData();
        _showStudentsTable = true;
    }


}
