.picture{
    width:500px;
    height:500px;
}
body {
    background-color: #faf2eb;
}

.topContainer {
    padding: 30px;
}
.logoText {
    font-family: 'Bevan', serif;
    font-size: 64px;
    color: #64becd;


}
