@page "/"

<PageTitle>Index</PageTitle>

<link rel="stylesheet" href="css/index.css" />

<div class="container-fluid">
    <div class="row top-container">
        <div class="col-12 text-center">
            <img src="images/ElevPortalen.png" alt="Logo" class="logo" />
        </div>
    </div>

    <div class="row container">
        <div class="col-md-6 left-side text-center">
            <h3>Elev</h3>
            <img src="images/ElevPic.png" alt="Logo" class="picture" />
            <div class="button-container">
                <button class="btn btn-outline-dark">Register</button>
                <button class="btn btn-outline-dark">Login</button>
            </div>
        </div>
        <div class="col-md-6 right-side text-center">
            <h3>Firma</h3>
            <img src="images/ElevPic.png" alt="Logo" class="picture" />
            <div class="button-container">
                <button class="btn btn-outline-dark">Register</button>
                <button class="btn btn-outline-dark">Login</button>
            </div>
        </div>
    </div>
</div>




   