@page "/registercompany"

@*Lavet af Jozsef*@

@using ElevPortalen.Models
@using ElevPortalen.Services
@using ElevPortalen.Data;

@inject ElevPortalenDataDbContext _context
@inject CompanyService _companyService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IConfiguration Configuration
@inject NavigationManager NavManager


<div class="container">
    @if (_authState != null && _authState.User != null && isAuthenticated){

        @if (_authState.User.IsInRole(Company))
        {
            <div class="container d-flex align-content-center justify-content-center">
                <div class="col-xl-8">
                    <br />
                    <!-- Account details card-->
                    <div class="card mb-4">
                        <div class="card-header">Registrer Kontooplysninger For Dit Firma</div>
                        <div class="card-body">
                            <form>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (Company Name)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="companyname">Firmanavn</label>
                                        <input class="form-control" id="companyname" type="text"
                                               placeholder="Firmanavn" @bind="_companyName">
                                    </div>
                                    <!-- Form Group (company address)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputaddress">Addresse</label>
                                        <input class="form-control" id="inputaddress" type="text"
                                               placeholder="Firma Adresse" @bind="_companyAddress">
                                    </div>
                                </div>
                                <!-- Form Row        -->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (Region)-->
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1" for="_region">Din Region</label>
                                        <select class="form-select form-select-md" @bind="_region" id="_region" aria-label="Region">
                                            <option disabled selected></option>
                                            <option value="Region Nordjylland">Region Nordjylland</option>
                                            <option value="Region Midtjylland">Region Midtjylland</option>
                                            <option value="Region Syddanmark">Region Syddanmark</option>
                                            <option value="Region Hovedstaden">Region Hovedstaden</option>
                                            <option value="Region Sjælland">Region Sjælland</option>
                                        </select>
                                    </div>
                                    <!-- Form Group (Email)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputEmail">E-Mail Addresse</label>
                                        <input class="form-control" id="inputEmail" type="text"
                                               placeholder="Firma E-mail" @bind="_email">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1" for="inputPhone">Phone Number</label>
                                        <input class="form-control" type="tel" id="inputPhone" name="phone"
                                                placeholder="12345678" @bind="_phoneNumber">
                                    </div>
                                    <div class="mb-3 col-md-6">
                                        <label class="small mb-1" for="inputWebsite">Firma link</label>
                                        <input class="form-control" id="inputWebsite" type="text"
                                               placeholder="Indtast Webstedslink" @bind="_link">
                                    </div>
                                </div>
                                <!-- Form Row-->
                                <div class="row gx-3 mb-3">
                                    <!-- Form Group (preferencesr)-->
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="_preferences">Preference</label>
                                        <select class="form-select form-select-md" @bind="_preferences" id="_preferences"
                                                aria-label="Preferences">
                                            <option value="" disabled selected></option>
                                            <option value="It-Supporter">It-Supporter</option>
                                            <option value="Infrastructure">Infrastruktur</option>
                                            <option value="Programmer">Programmør</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- Form Group (Description)-->
                                <div class="col-md-12 mb-3">
                                    <label for="Description" class="form-label">Beskrivelse</label>
                                    <textarea class="form-control" @bind="_description" id="_description" rows="4"></textarea>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" @bind="_isHiring">
                                    <label class="form-check-label">
                                        Hiring Now
                                    </label>
                                </div>
                                <div class="form-check mb-3">
                                    <input class="form-check-input" type="checkbox" @bind="_isVisible">
                                    <label class="form-check-label">
                                        Profile Visible
                                    </label>
                                </div>

                            </form>

                            <button class="@(IsSubmitButtonDisabled ? "btn btn-outline-success" : "btn btn-success")"
                                     @onclick="Create" disabled="@IsSubmitButtonDisabled">Gem
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>Nothing to do here!</p>
        }

    }
    else
    {
        <p>AuthState Possibly NULL</p>
    }
</div>

@code {
    private AuthenticationState? _authState;

    private string _companyName = string.Empty;
    private string _companyAddress = string.Empty;
    private string _region = string.Empty;
    private string _email = string.Empty;
    private string _link = string.Empty;
    private string _preferences = string.Empty;
    private string _description = string.Empty;
    private int _phoneNumber = 0;
    private bool _isHiring = false;
    private bool _isVisible = false;

    private string Message = "";

    private bool isAuthenticated = false;
    private string Company = "Company";

    private bool IsSubmitButtonDisabled =>
    string.IsNullOrWhiteSpace(_companyName) ||
    string.IsNullOrWhiteSpace(_companyAddress) ||
    string.IsNullOrWhiteSpace(_region) ||
    string.IsNullOrWhiteSpace(_email) ||
    string.IsNullOrWhiteSpace(_link) ||
    string.IsNullOrWhiteSpace(_description) ||
    string.IsNullOrWhiteSpace(_phoneNumber.ToString());

    #region OnInitialize
    protected override async Task OnInitializedAsync()
    {
        // Getting the user current authentication state.
        _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (_authState != null)
        {
            if (_authState.User.Identity?.IsAuthenticated == true)
            {
                isAuthenticated = true;
            }
            else
            {
                isAuthenticated = false;
            }
        }
    }
    #endregion

    #region Create company Function
    private async Task Create()
    {
        try
        {
            _authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

            if (_authState != null && _authState.User != null)
            {
                var user = _authState.User;

                if (user.Identity?.IsAuthenticated == true)
                {
                    // Retrieve the user's unique identifier (ID or GUID)
                    var userIdString = user.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;

                    // Convert the string representation to a Guid
                    if (Guid.TryParse(userIdString, out Guid userId))
                    {
                        CompanyModel companyData = new CompanyModel
                        {
                            CompanyName = _companyName,
                            CompanyAddress = _companyAddress,
                            Region = _region,
                            Email = _email,
                            Link = _link,
                            Preferences = _preferences,
                            Description = _description,
                            PhoneNumber = _phoneNumber,
                            IsHiring = _isHiring,
                            IsVisible = _isVisible,
                            UserId = userId
                        };

                        Message = await _companyService.CreateCompany(companyData);
                        NavManager.NavigateTo("/profile");
                    }
                    else
                    {
                        // Handle the exception and return an error message
                        Message = $"Error parsing GUID";
                    }
                }
            }

            // Default return statement if conditions are not met
            Message = $"Unexpected error occurred";
        }
        catch (Exception ex)
        {
            // Handle the exception and return an error message
            Message = $"Error: {ex.Message}";
        }
    }
    #endregion


}
