@page "/viewoffers"

<!--test code-->
<div class="container">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Borgmesterforvaltningen, IT-Drift & Sikkerhed og Digitalisering & Data (ODENSE KOMMUNE)</h5>
            <h6 class="card-address mb-2 text-muted">5240 Odense NØ</h6>
            <div class="position-details">
                <h3><a href="/vis-praktiksted/1003316558" class="card-link">1 - Datatekniker med speciale i programmering</a></h3>
                <div class="specialization badge bg-secondary">har 2 lærlinge</div>
                <div class="specialization badge bg-secondary">Ansøgninger frabedes</div>
            </div>
            <p class="card-text text-muted">Godkendt til flere specialer</p>
        </div>
    </div>

</div>

@code {

}
