/* Skeleton card */
.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 480px;
}

.card-link{
    cursor:pointer;
}

/* Skeleton card body */
.card-skeleton-body {
    height: 100px;
    padding: 15px;
}
.skeleton-title {
    width: 400px;
    height: 15px;
}
.skeleton-details,
.skeleton-address {
    width: 480px;
    height: 15px;
}

/* Skeleton lines with shimmer effect */
.skeleton-details,
.skeleton-title,
.skeleton-address,
.skeleton-line {
    margin-bottom: 10px;
    background-color: #f0f0f0;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    background-size: 200% 100%;
    animation: shimmer 2s infinite linear;
}

/* Skeleton card footer */
.card-skeleton-footer {
    padding: 10px;
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
}

/* Skeleton line inside card footer */
.card-footer .skeleton-line {
    margin-right: 10px;
    background-color: #ddd;
    height: 15px;
    width: 15%;
}

/* Shimmer animation */
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}
